{%extends 'services/base.html'%}
{% load static %}
{% load mathfilters %}
{% block container%}
<div class="container" id="myDiv">
    <div class="row">
        <div class="col-12">
            <div class="card">
              {% for service in assign_services%}
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="{% static 'services/images/laundry.jpg'%}">
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Invoice #{{service.id}}</p>
                            <p class="text-muted">Date: {{today_date}}</p>
                            <p>
                              <button type="button" class="btn btn-primary" id="printpagebutton" onclick="printDiv()">Print Invoice</button>
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Client Information</p>
                            <p class="mb-1"><span class="text-muted">Name: </span> {{service.customer.name}}</p>
                            <p class="mb-1"><span class="text-muted">Age: </span> {{service.customer.age}} Years</p>
                            <p class="mb-1"><span class="text-muted">Sex: </span> {%if service.customer.sex == 1%} Male{%else%}Female{% endif %}</p>
                            <p class="mb-1"><span class="text-muted">Phone: </span> {{service.customer.mobile}}</p>
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Delivery Details</p>
                            <p class="mb-1"><span class="text-muted">Delivery Date: </span> {{service.delivery_date}}</p>

                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">Sr. No.</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Name</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for service_detail in assign_service_details%}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{service_detail.service.name}}</td>
                                        <td>{{service_detail.quantity}}</td>
                                        <td>$ {{service_detail.service.cost}}</td>
                                        <td>$ {{service_detail.quantity|mul:service_detail.service.cost}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex flex-row-reverse bg-dark text-white p-4" id="output">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h2 font-weight-light">$ {{service.grandtotal}}</div>
                        </div>
                        {% if service.discount|length > 0 %}
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Discount</div>
                            <div class="h2 font-weight-light">$ {{service.discount}}</div>
                        </div>
                        {% endif %}
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Sub - Total amount</div>
                            <div class="h2 font-weight-light">$ {{service.total}}</div>
                        </div>

                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
function printDiv(){

  var printButton = document.getElementById("printpagebutton");
  //Set the button visibility to 'hidden'
  printButton.style.visibility = 'hidden';
  var data=document.getElementById('myDiv').innerHTML;
  // $("#output").css("cssText", "background: #343a40 !important;");
  var myWindow = window.open('', 'myDiv', 'height=400,width=600');
           myWindow.document.write('<html><head><title></title>');
           /*optional stylesheet*/
           myWindow.document.write('<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >');
           myWindow.document.write('</head><body>');
           myWindow.document.write(data);
           myWindow.document.write('</body></html>');
           myWindow.document.close(); // necessary for IE >= 10

           myWindow.onload=function(){ // necessary if the div contain images
               myWindow.focus(); // necessary for IE >= 10
               myWindow.print();
               //Restore button visibility
               printButton.style.visibility = 'visible';
               myWindow.close();
           };
}
</script>
{% endblock %}
